table{
    background-color: lightsteelblue;
    border-collapse: collapse;
    font-family: tahoma;
    font-size: 18px;
    border: 2px solid #B0C4DE;
    width: 400px;
    height: 300px;
    table-layout: fixed;
}

table tr:nth-child(even){
    background-color: #F0F8FF;
    font-size:20px;
}

